# MongoDB 101

<img src="https://cdn.meme.am/images/11599433.jpg" alt="Title" style="width:350px"/>

## Welcome to MongoDB 101! Let's take a look at what we need to do today.
#### Step 1
* Log into https://mlab.com/ and create an account
* Create database within your account
* Create two users. One with read-only permissions. One without read-only permissions
* Follow the instructions below when you are ready

In [26]:
from pymongo import MongoClient

#This is the client. Replace my (username) and (password) with your non-readonly username and password
client = MongoClient("mongodb://jroyalty:dsipass@ds053080.mlab.com:53080/dsidb")
#We get the database here. Don't forget to change the db name to your database name!
db = client.dsidb

In [27]:

test = db.test
test.insert_one({'name' :'Jesse','age':26,'color':'unknown'})
test.insert_one({'name' :'Jesse2','age':26,'color':'blue'})
test.find_one()
test.remove({'color':'blue'})
#test.remove() removes all
#This removes everything from the table. Works on the same principle as find
#table_name.remove({})

#To insert, just pass in the values one at a time
#table_name.insert_one({dict values})

/Users/jroyalty/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

{u'electionId': ObjectId('7fffffff0000000000000000'),
 u'n': 1,
 u'ok': 1,
 u'opTime': {u't': 0L, u'ts': Timestamp(1477536532, 2)}}

## Navigate to wikipedia and pull down a table of your choice. Here is a sample of what I did to pull down the Harrison Ford movies table to help you out.

In [28]:
import urllib2
from bs4 import BeautifulSoup
import json
import pandas as pd

soup = BeautifulSoup(urllib2.urlopen('https://en.wikipedia.org/wiki/Natalie_Portman_filmography').read())
tables = soup.find_all('table', class_="wikitable")
listy = []
for idx, table in enumerate(tables):
    if idx == 0:
        for idx2, row in enumerate(table.find_all('tr')):
            if idx2 > 0:
                datay = row.find_all(('th','td'))
                if len(datay) > 0:
                    listy += [{'0':datay[0].text,'1':datay[1].text,'2':datay[2].text.split('!')[len(datay[2].text.split('!')) - 1],'3':datay[3].text.split('!')[len(datay[3].text.split('!')) - 1].split('[')[0]}]    


nat_port = pd.DataFrame(listy)
nat_port

,0,1,2,3
0,Léon: The Professional,1994,Mathilda,Luc Besson
1,Developing,1995,Nina,Marya Cohn
2,Heat,1995,Lauren,Michael Mann
3,Beautiful Girls,1996,Marty,Ted Demme
4,Everyone Says I Love You,1996,Laura,Woody Allen
5,Mars Attacks!,1996,Taffy Dale,Tim Burton
6,Star Wars: Episode I – The Phantom Menace,1999,Padmé Amidala,George Lucas
7,Anywhere but Here,1999,Ann August,Wayne Wang
8,Where the Heart Is,2000,Novalee Nation,Matt Williams
9,Zoolander,2001,Herself,Ben Stiller
10,Star Wars: Episode II – Attack of the Clones,2002,Padmé Amidala,George Lucas
11,Cold Mountain,2003,Sara,Anthony Minghella
12,Garden State,2004,Samantha,Zach Braff
13,Closer,2004,Alice,Mike Nichols
14,Star Wars: Episode III – Revenge of the Sith,2005,Padmé Amidala,George Lucas
15,Free Zone,2005,Rebecca,Amos Gitai
16,V for Vendetta,2006,Evey Hammond,James McTeigue
17,"Paris, je t'aime",2006,Francine,Various
18,Goya's Ghosts,2006,Inés/ Alicia[b],Miloš Forman
19,My Blueberry Nights,2007,Leslie,Wong Kar-wai
20,Hotel Chevalier,2007,Jack's Ex-Girlfriend,Wes Anderson
21,"Darjeeling Limited, TheThe Darjeeling Limited",2007,Jack's Ex-Girlfriend,Wes Anderson
22,Mr. Magorium's Wonder Emporium,2007,Molly Mahoney,Zach Helm
23,Other Boleyn !The Other Boleyn Girl,2008,Anne Boleyn,Justin Chadwick
24,Other Woman !The Other Woman,2009,Emilia Greenleaf,Don Roos
25,"New York, I Love You",2009,Rifka,Various
26,Brothers,2009,Grace Cahill,Jim Sheridan
27,Hesher,2010,Nicole,Spencer Susser
28,Black Swan,2010,Nina Sayers,Darren Aronofsky
29,No Strings Attached,2011,Emma Kurtzman,Ivan Reitman
30,Your Highness,2011,Isabel,David Gordon Green
31,Thor,2011,Jane Foster,Kenneth Branagh
32,Illusions & Mirrors,2013,Young Woman,Shirin Neshat
33,Thor: The Dark World,2013,Jane Foster,Alan Taylor
34,Seventh !The Seventh Fire,2015,—,Jack Pettibone Riccobono
35,Knight of Cups,2015,Elizabeth,Terrence Malick
36,Tale !A Tale of Love and Darkness,2015,Fania Oz,Natalie Portman
37,Jane Got a Gun,2016,Jane Hammond,Gavin O'Connor
38,Pride and Prejudice and Zombies,2016,—,Burr Steers
39,Jackie,2016,"Jacqueline ""Jackie"" Kennedy Onassis",Pablo Larraín
40,Planetarium,2016,Laura Barlow,Rebecca Zlotowski
41,Weightless,2017,TBA,Terrence Malick
42,Annihilation,2017,The Biologist,Alex Garland
43,Death !The Death and Life of John F. Donovan,2017,TBA,Xavier Dolan

## Now it's time to make our new mongodb document! Let's insert our wiki table's values into it.

In [29]:

nat_portdb = db.nat_portdb

# year
# movie name
# role

# print nat_port.ix[0]
# for idx in nat_port.index.values:
#     nat_portdb.insert_one({'movie_name': nat_port.ix[idx][0],'year': nat_port.ix[idx][1],'role':nat_port.ix[idx][2],'director':nat_port.ix[idx][3]})

#nat_port.remove()

## Awesome! Now find the read-only user in your mongolab account. You are going to be passing this to your partner in the class. Don't be shy. Everyone has to do it.

In [30]:
# Pass your string to another student. 
# Don't forget to change the username and password to your other user's username and password!
# Here is a reminder of what that string looks like
# "mongodb://(username):(password)@ds063946.mlab.com:63946/(database_name)"


#nat ports directors where first name starts with 'T'
# for x in nat_portdb.find({'director': {'$regex' : '[T]\w*\s+\w*'}}):
#     print x['director']
#nat ports multiple word movies
# for x in nat_portdb.find({'movie_name': {'$regex' : '.*\s+.*'}}):
#     print x['movie_name']
#all of nat ports roles in 2011 and 2015
# for x in nat_portdb.find({'$or': [{'year': '2011'},{'year': '2015'}]}):
#      print x['role']

## Open the database you received from your partner. What is the data telling you? What kind of job roles would you imagine dealing with this data?

In [31]:
client2 = MongoClient("mongodb://guest:123abc@ds053080.mlab.com:53080/fei_sandbox")
db2 = client2.fei_sandbox

top = db2.TopCompanies

## Was the data cleaned before you got it? Is information missing that might keep you from figuring out what the data represents?

In [52]:
for x in top.find({})[:5]:
    print x

# Didn't know that it was about top 23 internet companies at first. had to ask. maybe have a doc that explains it.

{u'rankByRevenue': 20, u'currentFiscalYear': 2015, u'revenueInBillions (last fiscal year)': 1.5, u'Country': u'USA', u'industry': u'Travel', u'marketCap (USD Billions May 2013)': 8.55, u'headquarters': u'Needham, Massachusetts,USA', u'hqState': u' Massachusetts', u'hqCity': u'Needham', u'_id': ObjectId('58110dd3e714bf2e40483614'), u'company': u'TripAdvisor', u'employees': 2793}
{u'rankByRevenue': 21, u'currentFiscalYear': 2015, u'revenueInBillions (last fiscal year)': 1.5, u'Country': u' India', u'industry': u'Shopping', u'marketCap (USD Billions May 2013)': 9.39, u'headquarters': u'Bangalore, Karnataka, India', u'hqState': u' Karnataka', u'hqCity': u'Bangalore', u'_id': ObjectId('58110dd3e714bf2e40483615'), u'company': u'flipkart', u'employees': 35000}
{u'rankByRevenue': 22, u'currentFiscalYear': 2014, u'revenueInBillions (last fiscal year)': 1.4, u'Country': u' UK', u'industry': u'E-Commerce', u'marketCap (USD Billions May 2013)': 4.8, u'headquarters': u'London, UK', u'hqCity': u'London', u'_id': ObjectId('58110dd3e714bf2e40483616'), u'company': u'ASOS.com', u'employees': 7500}
{u'rankByRevenue': 23, u'currentFiscalYear': 2014, u'revenueInBillions (last fiscal year)': 0.9, u'Country': u' Russia', u'industry': u'Search', u'marketCap (USD Billions May 2013)': 6.15, u'headquarters': u'Moscow, Russia', u'hqCity': u'Moscow', u'_id': ObjectId('58110dd3e714bf2e40483617'), u'company': u'Yandex', u'employees': 5514}
{u'rankByRevenue': 1, u'currentFiscalYear': 2015, u'revenueInBillions (last fiscal year)': 107.0, u'Country': u' USA', u'industry': u'E-commerce', u'marketCap (USD Billions May 2013)': 329.7, u'headquarters': u'Seattle, WA, USA', u'hqState': u' WA', u'hqCity': u'Seattle', u'_id': ObjectId('58110dd1e714bf2e40483601'), u'company': u'Amazon', u'employees': 268900}

## Do some exploratory data analysis on the table. Did you find anything surprising?

In [62]:
for x in top.find(sort=[("rankByRevenue", 1)])[:10]:
    print x['rankByRevenue']
    print x['company']
# No idea what Tencent and Alibaba are. Netflix is surprisingly high.

1
Amazon
2
Google
3
Facebook
4
Tencent
5
Alibaba
6
Baidu
7
Priceline Group
8
eBay
9
Netflix
10
Expedia,Inc.

## Come up with three solvable questions to ask your partner regarding his data. Each should test your knowledge of regular expressions and mongodb. Feel free to look up new ways to do things. Put the questions and the answers to those questions here.

In [34]:
#nat ports directors where first name starts with 'T'
for x in nat_portdb.find({'director': {'$regex' : '[T]\w*\s+\w*'}}):
     print x['director']
#nat ports multiple word movies
for x in nat_portdb.find({'movie_name': {'$regex' : '.*\s+.*'}}):
     print x['movie_name']
#all of nat ports roles in 2011 and 2015
for x in nat_portdb.find({'$or': [{'year': '2011'},{'year': '2015'}]}):
      print x['role']

Ted Demme
Tim Burton
Terrence Malick
Terrence Malick
Léon: The Professional
Beautiful Girls
Everyone Says I Love You
Mars Attacks!
Star Wars: Episode I – The Phantom Menace
Anywhere but Here
Where the Heart Is
Star Wars: Episode II – Attack of the Clones
Cold Mountain
Garden State
Star Wars: Episode III – Revenge of the Sith
Free Zone
V for Vendetta
Paris, je t'aime
Goya's Ghosts
My Blueberry Nights
Hotel Chevalier
Darjeeling Limited, TheThe Darjeeling Limited
Mr. Magorium's Wonder Emporium
Other Boleyn !The Other Boleyn Girl
Other Woman !The Other Woman
New York, I Love You
Black Swan
No Strings Attached
Your Highness
Illusions & Mirrors
Thor: The Dark World
Seventh !The Seventh Fire
Knight of Cups
Tale !A Tale of Love and Darkness
Jane Got a Gun
Pride and Prejudice and Zombies
Death !The Death and Life of John F. Donovan
Emma Kurtzman
Isabel
Jane Foster
—
Elizabeth
Fania Oz

## Solve the questions your partner gave to you. This is for helping you to get more acquianted with these concepts, so try not to give away your answers.

In [51]:
#$sum,$avg,$min,$max,$push,$addToSet,$first,$last

#Q1. What's the geographic distribution of top Internet companies?
# for c in top.aggregate([{'$group': {'_id' : '$Country', 'num_country' : {'$sum' : 1}}},
#                               { '$sort': { 'num_country': -1, } }]):
#     print c


# Q2. Which company has the largest number of employees?
# for x in top.find({}).sort(-1):
#     print x
# print top.find_one(sort=[("employees", -1)])['company']
# print top.find_one(sort=[("employees", -1)])['employees'] 


# Q3. Which industry has the most number of companies?
#county how many times each industry shows up, biggest value is answer.
# for c in top.aggregate([{'$group': {'_id' : '$industry', 'num_indust' : {'$sum' : 1}}},
#                               { '$sort': { 'num_indust': -1, } }]):
#     print c

{u'num_indust': 6, u'_id': u'E-commerce'}
{u'num_indust': 4, u'_id': u'Social'}
{u'num_indust': 4, u'_id': u'Travel'}
{u'num_indust': 3, u'_id': u'Search'}
{u'num_indust': 1, u'_id': u'Online Services'}
{u'num_indust': 1, u'_id': u'Search Engine'}
{u'num_indust': 1, u'_id': u'Cloud computing'}
{u'num_indust': 1, u'_id': u'E-Commerce'}
{u'num_indust': 1, u'_id': u'Web portal'}
{u'num_indust': 1, u'_id': u'Shopping'}

## Try inserting a document into your partner's database. What happens? Why do you think that is?

In [12]:
# It doesn't work! No permission for writing.